.navimg{
    width:12%;
    aspect-ratio: 3/2;
    object-fit: contain;
    cursor:pointer;
    margin-right:55%;
}



.btn{
    margin:7px;
}

.cartbutton{
    border-radius:5px;
    background-color: white;
    margin-top:7px;
    margin:5px;
    height:37px;
    border:none;
}

.spanclass{
    font-size:18px;
}

#carouselExampleInterval{
    margin-top: 5%;
}



.container{
    margin-top:5%;
}

form{
    margin:15px;
}

.card{
    margin-top:20px;
}

/* .card{
    box-shadow: 0 0 10px black;
} */

.card:hover{
    box-shadow: 0 0 10px black;
}

.card-img-top{
    aspect-ratio:3/2;
    object-fit:contain;
}


.card-bodys{
    text-align:center;
}


.img-fluid{
    width:60%;
    text-align: center;
    margin:30px;
}

.card-body{
    margin:20px;
}